<div class="chat" id="ContainerRight">
  <div class="messages">
    <!--<div *ngFor="let message of chatService.messages">
      {{message.text}}
      <div><p>test</p></div>

    </div>
  -->

<div class="msg-wrap">

<p class="media-heading">Naimish Sakhpara</p>
<p class="col-lg-10">ddcccddddddddddddddddddddd</p>
<p class="media-heading">Naimish Sakhpara</p>
<p class="col-lg-10">dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
</div>
                    
  
  


  </div>
  <div class="input">
    <form>
      <div class="form-group">
        <input 
          type="content"
          placeholder="Add your comment here"
          [(ngModel)]="text"
          class="form-control"
          name="something"
        />
      </div>
      <button (click)="sendMessage()" type="submit">
        Send
      </button>
      <hr />
    </form>
  </div>
</div>