div.ex3 {
    background-color: #e8e5e5;
    width: auto;
    height:auto;
    overflow: auto;
}
.messages {
    height: 70%;
}

.artigo_nome {
    max-width: 100%;
    padding: 10px;
    word-break: break-all; /* optional */
}

.chat_size{
    color:blue;
    font-weight:bold
}

.inline-p {
    
    display: inline;
}