
  <div class="chat" id="ContainerRight">
    <div class="messages">

    </div>
    <div class="input">
      <form>
        <div class="form-group">
          <input
                  type="content"
                  placeholder="Add your comment here"
                  formControlName="content"
                  class="form-control"
                  required
          />
        </div>
        <button type="submit">
          Send
        </button>

        <hr />
      </form>
    </div>

    </div>
    