.streamVid {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
}

#videoElement {
    max-height: 700px;
}

.white {
    margin-top: auto;
    color: white;
    margin-bottom: auto;
}

.red {
    color: #D2302E;
}