<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="assets/images/android-chrome-192x192.png" width="40" height="40" class="d-inline-block align-top" alt="">
        DoorWaterFit
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse order-1 order-md-0 dual-collapse2" id="navbarsExampleDefault" [collapse]=isCollapsed>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Logout <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="/overview" routerLinkActive="active">Overview <span class="sr-only"></span></a>
          </li>
          <li dropdown class="nav-item dropdown">
              <a dropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a class="dropdown-item" href="#" routerLink="/zwemkalender">search bar here</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">online</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">offline</a></li>
              </ul>
          </li>                
        </ul>
    </div>
    <div class="navbar-collapse collapse order-2 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <!--a *ngIf="currentUser === undefined || currentUser === null" class="nav-link" (click)="openModal(loginModal)">login</a>
              <a class="nav-link" *ngIf="currentUser" class="nav-link"  (click)="logout()">Hallo: {{ currentUser.firstname }}  logout</a>
              -->
            </li>
      </ul>
    </div>
  </nav>