<app-navbar></app-navbar>

<!-- Live streamers: -->
<div>
  <h2>Live streamers</h2>
<!-- 
<ng-container *ngFor="let user of users">
    <span *ngIf="user.status">
      <app-overview-item [user]="user"></app-overview-item>
    </span>
  </ng-container> -->
</div> 


<div>
  <h2>Users that are not streaming</h2>

<ul>
  <li *ngFor="let user of users">
      <a routerLink="/profile/{{user?._id}}" (click)="setSelectedUser(user)"> 
        <a href="#"><img src="https://i.imgur.com/9ph4xQn.png" /></a>
         <p>{{user?.firstName}} {{user?.lastName }} <small>({{user?._id}})</small></p>
   
    </a>
  </li>
</ul>

  <!-- <ng-container *ngFor="let user of users">
    <div *ngIf="!user.status"> -->
      <!-- {{ user.name }} -->
    <!-- </div> -->
  <!-- </ng-container>  -->
</div>