<app-navbar></app-navbar>

<!-- Live streamers: -->
<div class="center" style="margin-top: 5%">
  <h1>Live streamers</h1>
<!-- 
<ng-container *ngFor="let user of users">
    <span *ngIf="user.status">
      <app-overview-item [user]="user"></app-overview-item>
    </span>
  </ng-container> -->
</div> 


<div class="center" style="margin-top: 5%">
  <h2>Users that are not streaming</h2>

<ul>
  <li *ngFor="let user of users">
      <a routerLink="/profile/{{user?.id}}"> 
    <p>{{user?.firstname}} {{user?.lastname}}</p>
    </a>
  </li>
</ul>

  <!-- <ng-container *ngFor="let user of users">
    <div *ngIf="!user.status"> -->
      <!-- {{ user.name }} -->
    <!-- </div> -->
  <!-- </ng-container>  -->
</div>