/* You can add global styles to this file, and also import other style files */
body { 
    padding-top: 55px; 
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 500px; /* Margin bottom by footer height */
  background-color: #f7f7f7
}