<app-navbar></app-navbar>

<main role="main" class="container-fluid">
  <div class="container-fluid">
    <h1 class="display-6 ">{{selectedUser.firstName}} {{selectedUser.lastName}} <small
        id="id">{{selectedUser._id}}</small></h1>
  </div>

  <div class="d-flex" myMatchHeight="profilePart">
    <div class="flex-grow-1 profilePart" id="stream">
      <app-stream></app-stream>
    </div>
    <div class="flex-col d-none d-lg-block" id="chat">
      <app-chat></app-chat>
    </div>
  </div>
</main>